<div class="form-row justify-content-center">

  <div class="form-group col-xs-8 col-sm-8 col-md-8">
    <label for="denomination">Dénomination<span class="text-danger">*</span></label>
    <input type="text" id="denomination" class="form-control" placeholder="Dénomination *">
  </div>

</div>

<div class="form-row justify-content-center">

  <div class="form-group col-xs-4 col-sm-4 col-md-4">
    <label for="dateCreation">Date creation<span class="text-danger">*</span></label>
    <input type="date" id="dateCreation" class="form-control">
  </div>

  <div class="form-group col-xs-4 col-sm-4 col-md-4">
    <label for="paysRegion">Pays/Region<span class="text-danger">*</span></label>
    <input type="text" id="paysRegion" class="form-control" placeholder="Pays/Region *">
  </div>

</div>

<div class="form-row justify-content-center">
  <div class="form-group col-xs-8 col-sm-8 col-md-8">
    <label for="activité">Activité<span class="text-danger">*</span></label>
    <textarea id="activité" class="form-control" placeholder="Activité"></textarea>
  </div>
</div>

<div class="form-row justify-content-center">
  <div class="form-group col-xs-8 col-sm-8 col-md-8">
    <label for="secteurActivite">Secteur d'activité<span class="text-danger">*</span></label>
    <select id="secteurActivite" class="form-control">
      <option>Secteur d'activité *</option>
    </select>
  </div>
</div>
