<div class="row justify-content-center firstRow">
  <div class="col-xs-8 col-sm-8 col-md-8">
    <h3>Adresse</h3>
  </div>
</div>

<div class="form-row justify-content-center">

  <div class="form-group col-xs-8 col-sm-8 col-md-8">
    <label for="adresseLocale">Adresse locale<span class="text-danger">*</span></label>
    <input type="text" id="adresseLocale" class="form-control" placeholder="Adresse locale *">
  </div>

</div>

<div class="form-row justify-content-center">

  <div class="form-group col-xs-4 col-sm-4 col-md-4">
    <label for="ville">Ville<span class="text-danger">*</span></label>
    <input type="text" id="ville" class="form-control" placeholder="Ville *">
  </div>

  <div class="form-group col-xs-4 col-sm-4 col-md-4">
    <label for="region">Région<span class="text-danger">*</span></label>
    <input type="text" id="region" class="form-control" placeholder="Région *">
  </div>

</div>

<div class="form-row justify-content-center">

  <div class="form-group col-xs-4 col-sm-4 col-md-4">
    <label for="numTelephone">Num de téléphone<span class="text-danger">*</span></label>
    <input type="text" id="numTelephone" class="form-control" placeholder="Num de téléphone *">
  </div>

  <div class="form-group col-xs-4 col-sm-4 col-md-4">
    <label for="codePostal">Code postal<span class="text-danger">*</span></label>
    <input type="text" id="codePostal" class="form-control" placeholder="Code postal *">
  </div>

</div>
