<form>

  <div class="container-fluid">

    <div class="row justify-content-center firstRow">
      <div class="col-xs-10 col-sm-10 col-md-10">
        <h3>Profil Organisation</h3>
      </div>
    </div>

    <app-profil></app-profil>

    <div class="row justify-content-center hrClass">
      <div class="col-xs-10 col-sm-10 col-md-10">
        <hr>
      </div>
    </div>

    <app-administratif></app-administratif>

    <div class="row justify-content-center hrClass">
      <div class="col-xs-10 col-sm-10 col-md-10">
        <hr>
      </div>
    </div>

    <app-adresse></app-adresse>

    <div class="row justify-content-center hrClass">
      <div class="col-xs-10 col-sm-10 col-md-10">
        <hr>
      </div>
    </div>

    <app-responsables></app-responsables>

    <div class="row justify-content-center hrClass">
      <div class="col-xs-10 col-sm-10 col-md-10">
        <hr>
      </div>
    </div>

    <app-etablissements></app-etablissements>

  </div>

</form>
