<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <i class="fa fa-search" aria-hidden="true"></i>

    <span class="vertical-line"></span>

    <i class="fa fa-search" aria-hidden="true"></i>

    <span class="vertical-line"></span>

    <i class="fa fa-search" aria-hidden="true" style="margin-right: 78%;"></i>

    <img class="roundedImage" src="../../assets/profilImage.jpg">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Eric zoma
        </a>
      </li>

    </ul>

    <span class="vertical-line"></span>

    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>

  </div>

</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <i class="fa fa-search" aria-hidden="true"></i>

    <span class="vertical-line"></span>

    <i class="fa fa-search" aria-hidden="true"></i>

    <span class="vertical-line"></span>

    <i class="fa fa-search" aria-hidden="true"></i>

    <img class="roundedImage" src="../../assets/profilImage.jpg" style="margin-left: 78%;">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Eric zoma
        </a>
      </li>

    </ul>

    <span class="vertical-line"></span>

    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>

  </div>

</nav>
