/*.roundedImage {
  overflow: hidden;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
  width: 60px;
  height: 60px;
}

.vertical-line {
  border-left: 2px solid #000;
  display: inline-block;
  height: 60px;
  margin: 0 20px;
}*/

.roundedImage {
  overflow: hidden;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
  width: 60px;
  height: 60px;
}

.vertical-line {
  border-left: 2px solid #000;
  display: inline-block;
  height: 60px;
  margin: 0 20px;
}
